/* General body and font settings */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212A31;
    color: #333;
}

/* Hero Section */
#hero {
    background-color: #212A31;
    background-size: cover;
    color: white;
    padding: 150px 20px;
    text-align: center;
}

.container {
    padding: 50px 20px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
}

/* Parallax Effect */
.parallax {
    background-image: url('AEB3.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

/* Hero Content */
.hero-content {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
}

.hero-content h1, .hero-content h2, .hero-content p {
    margin-bottom: 20px;
}

/* Social Links */
.social-links img {
    width: 30px;
    margin: 0 10px;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons .btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
    text-decoration: none;
}

.buttons .btn:hover {
    background-color: #555;
}

/* Section with consistent styling */
#education, #projects, #extra-curricular, #about-me {
    background-color: #EDE8F5;
    padding: 20px 20px;
    text-align: center;
}

/* Headings for all sections */
h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: bold;
    color: #333;
}

/* Common item container for education, projects, and extracurriculars */
.education-item, .project-item, .extra-curricular-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 20px auto;
}

/* For displaying logos or images inside each section */
.education-item img, .project-item img, .extra-curricular-item img {
    max-width: 100px;
    margin-right: 20px;
}

/* About Me Section */
#about-me {
    background-image: url('AEB2.webp');
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.about-me-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.about-me-text {
    width: 60%;
    padding-right: 20px;
    border-right: 2px solid #e0e0e0;
}

.about-me-image img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
}

/* Align and style text across all sections */
h3, p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 10px;
}

